<h1>AngularJS</h1>
<!DOCTYPE html>
<html>
<head>
  <title>Guess the commit number !</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="app">
  <script src="bower_components/angular/angular.min.js"></script>

  <script>
  angular.module('app',[])
  .controller('GuessTheNumberController', GuessTheNumberController);


    function GuessTheNumberController($scope) {
      $scope.verifyGuess = function () {
          $scope.deviation = $scope.original - $scope.guess;
          $scope.noOfTries = $scope.noOfTries + 1;
      }
      $scope.initializeGame = function () {
          $scope.noOfTries = 0;
          $scope.original = Math.floor((Math.random() * 1000) + 1);
          $scope.guess = null;
          $scope.deviation = null;
          $scope.showDebug = false;
      }
      $scope.toggleDebug = function () {
        if ($scope.showDebug == false){
          $scope.showDebug = true;
        }
        else{
          $scope.showDebug = false;
        }
      }

      $scope.initializeGame();
    }

  </script>


  <div class="container" ng-controller="GuessTheNumberController">
    <h2>Guess the commit</h2>

    <p class="well lead">Guess the computer generated random number between 1 and 1000 Hello.
      <p><label>Your Guess: </label><input type="number" ng-model="guess"/></p>
      <button ng-click="verifyGuess()" class="btn btn-primary btn-sm">Verify</button>
      <button ng-click="initializeGame()" class="btn btn-warning btn-sm">Restart</button>
      <button ng-click="toggleDebug()" class="btn btn-warning btn-sm">Toggle Debug</button>

    </p>
      <p ng-show="deviation<0" class="alert alert-info">Your guess is higher.</p>
      <p ng-show="deviation>0" class="alert alert-danger">Your guess is lower.</p>
      <p ng-show="deviation===0" class="alert alert-success">Yes! That"s it.</p>
    <p class="text-info">No of guesses : <span class="badge">{{noOfTries}}</span></p>

    <div ng-show="showDebug" class="debug">
      <h2>DEBUG:</h2>
      <p class="text-info">Number to guess : <span class="badge">{{original}}</span></p>
      <p class="text-info">Deviation : <span class="badge">{{deviation}}</span></p>
      <p class="text-info">Debug : <span class="badge">{{showDebug}}</span></p>
    </div>
  </div>

</body>
</html>
