<!DOCTYPE html>
<html>
<body ng-app="chat">
<h1>Christo chat</h1>
<div class="well" ng-controller="chatController">
    <form class="form-inline">
        Your name: <input type="text" ng-model="username">
    </form>
    <div ng-cloak ng-repeat="message in messages">
        <span style="width: 200px; margin-right: 50px;">{{message.from}}:</span><span style="width: 400px;">{{message.content}}</span>
    </div><br/>
    <form class="form-inline" ng-submit="addMessage()">
        <input type="text" ng-model="message" placeholder="Message...">
        <button class="btn" type="submit">
            <i class="icon-reply"> Send</i>
        </button>
    </form>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="http://cdn.firebase.com/v0/firebase.js"></script>
<script src="http://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>


<script type="text/javascript">
    var app = angular.module('chat', ['firebase', 'ngMap'])
        .controller('chatController', chatController);


    function chatController($scope, $firebase) {
        var ref = new Firebase('https://angularfire.firebaseio.com/christo-chat');
        $scope.messages = $firebase(ref.limit(80));
        $scope.username = 'Guest' + Math.floor(Math.random()*101);
        $scope.addMessage = function() {
            $scope.messages.$add({
                from: $scope.username, content: $scope.message
            });
            $scope.message = "";
        }
    }
</script>


</body>
</html>